/*  your css code here. If applicable */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Base circle */
#outer {
  width: 300px;
  height: 300px;
  background-color: #ff0000;
  border-radius: 50%;
  position: relative;

  /* Creating remaining concentric circles */
  box-shadow:
    inset 0 0 0 25px #ffa500,  /* 250px */
    inset 0 0 0 50px #ffff00,  /* 200px */
    inset 0 0 0 75px #008000,  /* 150px */
    inset 0 0 0 100px #0000ff, /* 100px */
    inset 0 0 0 125px #800080; /* 50px */
}
